page-landing {

}

.logo {
    padding-bottom: 10%;
}

div.outer-div {
  height: 100%;
  width: 100%;
}

div.middle-div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-center {
    text-align: center;
}

.center-div {
    width: 100%;
    height: 100%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

